:root {
  --text-primary: #1a1a1a;
  --link-color: rgb(20, 20, 175);

  --background: #ffffff;
  --background-secondary: rgb(245, 245, 245);

  --font-family-sans: -apple-system, system-ui, Helvetica, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, monospace;

  /* spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-sans);
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  color: var(--text-primary);
  background-color: var(--background);

  max-width: 832px;
  padding: 0 16px;
  margin: 0 auto;
}

main {
  text-align: justify;
}

header {
  margin: var(--space-6) 0;
}

footer {
  margin: var(--space-6) 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--link-color)
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-position: outside;
  padding-inline-start: var(--space-6);
  margin-block-end: 1rem;
}

ul ul {
  margin-block: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: var(--space-3);
}

h1.title {
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  margin-top: var(--space-5);
  margin-bottom: var(--space-3);
}

sup {
  font-size: 0.75rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.notes {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.affiliations {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.authors, .notes, .affiliations {
  margin: var(--space-1);
  gap: var(--space-1) var(--space-3);
}

.venue {
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
}

.links {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: var(--space-5) 0;
  gap: var(--space-2);
}

.links a {
  text-decoration: none;
  border: 1px solid var(--link-color);
  border-radius: 20px;
  transition: background-color 0.25s ease;
  padding: var(--space-2) var(--space-4);
}

.links a:hover {
  background-color: var(--background-secondary);
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: var(--space-6) auto;
}

figure figcaption {
  text-align: justify;
  font-style: italic;
}

.code-container {
  background-color: var(--background-secondary);
}

pre {
  font-family: var(--font-family-monospace);
  line-height: 1.25;
  overflow-x: auto;
  padding: var(--space-4);
}

.clipboard-button {
  float: right;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  padding: var(--space-1);
  margin: var(--space-2);
}

.clipboard-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

article.publication {
  margin: var(--space-4) 0;
}
